# Python  
__pycache__/  
*.py[cod]  
*$py.class  
.Python  
*.so  
.env  
.venv  
env/  
venv/  
.eggs/  
*.egg-info/  
  
# Jupyter  
.ipynb_checkpoints  
*/.ipynb_checkpoints/*  
  
# VS Code  
.vscode/  
  
# Data  
data/raw/*  
data/processed/*  
data/external/*  
!data/raw/.gitkeep  
!data/processed/.gitkeep  
!data/external/.gitkeep  
  
# Models  
models/trained/*  
!models/trained/.gitkeep  
  
# Mac  
.DS_Store  
  
# Windows  
Thumbs.db 
